@use "../abstracts" as a;

body {
  display: grid;
}

.hero {
  background-color: a.$primary-color;
  width: 100%;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
  nav {
    $nav-padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding: ($nav-padding * 2) $nav-padding;
  }
  h1 {
    justify-self: center;
    text-align: center;
  }
  .hero__icon {
    @include a.image-size(a.$image-sizes);
    justify-self: center;
  }
  button {
    min-width: fit-content;
    justify-self: center;
  }
}
