@use "../abstracts" as a;

body {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.hero {
  background-color: a.$primary-color;
  position: relative;
  width: 100%;
  height: 481.71px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%/0 0 4% 4%; // Need to figure out how to achieve with formulas
  display: grid;
  grid-template-rows: min-content;

  div {
    $gap: a.pxToRem(40px);
    display: grid;
    grid-template-rows: min-content;
    justify-self: center;
    width: 635px;
    gap: $gap;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  .hero__icon {
    @include a.image-size(a.$hero-image-sizes);
    justify-self: center;
    position: absolute;
    top: 389px;
  }
  button {
    justify-self: center;
    height: min-content;
  }
}

.info {
  $general-padding: 1rem;
  $top-padding: 4rem;
  $template-repeat: 3;
  display: grid;
  grid-template-rows: repeat($template-repeat, 1fr);
  justify-content: center;
  background-color: a.$secondary-color;
  padding: $top-padding $general-padding $general-padding;
  border-radius: 100%/0 0 4% 4%; // Need to figure out how to achieve with formulas
}
@media (width >= 1440px) {
  .info {
    $template-repeat: 3;
    grid-template-columns: repeat($template-repeat, 1fr);
    grid-template-rows: none;
  }
}
.cta {
  height: 100vh;
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  position: relative;
}
.cta__image {
  @include a.image-size(a.$cta-image-sizes);
  position: absolute;
  top: 0;
  justify-self: center;
}
