@use "../abstracts" as a;

.cta__card {
  background-color: a.$primary-color;
  color: a.$white;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;
  bottom: 53px;
  width: 343px;

  h2 {
    color: a.$white;
    margin: 0;
  }
}
