@use "../abstracts/functions" as f;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap");

$font-primary: "Manrope", sans-serif;
$font-accent: "Fraunces", serif;

$font-weights: (
  regular: 400,
  semi-bold: 600,
);

@mixin headings {
  font-family: $font-accent;
  font-weight: map-get($map: $font-weights, $key: semi-bold);
  @content;
}

@mixin large-heading {
  @include headings;
  font-size: f.pxToRem(80px);
  line-height: f.pxToRem(80px);
}

@mixin medium-heading {
  @include headings;
  font-size: f.pxToRem(56px);
  line-height: f.pxToRem(64px);
}

@mixin small-heading {
  @include headings;
  font-size: f.pxToRem(32px);
  line-height: f.pxToRem(40px);
}

body {
  font-family: $font-primary;
  font-weight: map-get($map: $font-weights, $key: regular);
  font-size: f.pxToRem(18px);
  line-height: f.pxToRem(32px);
}

h1 {
  @include large-heading;
}

h2 {
  @include medium-heading;
}

h3 {
  @include small-heading;
}
