@use "sass:math";
@use "../abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@400;700&display=swap");

body {
  font-family: $font-primary;
  font-weight: map-get($map: $font-weights, $key: regular);
  @include font-size($body-font-sizes);
  color: $neutral-color;
}

h1 {
  @include headings;
  @include font-size($h1-font-sizes);
  color: $white;
  u {
    text-decoration-color: $accent-color;
  }
}

h2 {
  @include headings;
  @include font-size($h2-font-sizes);
  color: $primary-color;
}

h3 {
  @include headings;
  @include font-size($h3-font-sizes);
  color: $primary-color;
}
